article {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border-style: solid;
  border-color: #747bff;
  border-width: 2px;
  padding: 1rem;
  width: 500px;
  gap: 0.5rem
}

article article {
  border: none;
  border-radius: 0;
  margin-left: 1rem;
  margin-top: 0.5rem;
}