:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.post {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border-style: solid;
  border-color: #747bff;
  border-width: 2px;
  padding: 1rem;
  width: 600px;
  gap: 0.5rem
}

.comment {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 1rem;
  gap: 0.5rem;
  overflow-wrap: break-word;
}

.child {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  width: fit-content;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #535bf2;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.credits {
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    color: #213547;
    background-color: #646cff;
  }
}
